apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tripla-apps.fullname" . }}-frontend
  labels:
    {{- include "tripla-apps.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          ports:
            - containerPort: {{ .Values.frontend.service.port }}
          resources: {{- toYaml .Values.resources | nindent 12 }}
