name: CI-CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r terraform_parse_service/requirements.txt
    - name: Run tests
      run: |
        python -m unittest discover terraform_parse_service

  build-and-push:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v2
    - name: Log in to Docker Hub
      run: echo "$DOCKER_ACCESS_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_ACCESS_TOKEN: ${{ secrets.DOCKER_ACCESS_TOKEN }}

    - name: Build and push Docker image
      run: |
        cd terraform_parse_service
        docker build -t $DOCKER_USERNAME/be-terraform-parse-service:latest -f terraform_parse_service/Dockerfile .
        docker build -t $DOCKER_USERNAME/fe-terraform-parse:latest -f terraform_parse_service/Dockerfile.frontend .
        docker push $DOCKER_USERNAME/be-terraform-parse-service:latest
        docker push $DOCKER_USERNAME/fe-terraform-parse:latest
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}