name: CI-CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r terraform_parse_service/requirements.txt
    - name: Run tests
      run: |
        python -m unittest discover terraform_parse_service

  build-and-push:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v2
    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_ACCESS_TOKEN }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build and push Docker image
      run: |
        docker build -t \${{ secrets.DOCKER_USERNAME }}/be-terraform-parse-service:latest -f terraform_parse_service/Dockerfile .
        docker build -t \${{ secrets.DOCKER_USERNAME }}/fe-terraform-parse:latest -f terraform_parse_service/Dockerfile.frontend .
        docker push \${{ secrets.DOCKER_USERNAME }}/be-terraform-parse-service:latest
        docker push \${{ secrets.DOCKER_USERNAME }}/fe-terraform-parse:latest
